{#
/**
 * @file
 * Default theme implementation to display the Instagram Carousel block.
 */
#}

{% set base = 'sf-instagram-post' %}
{% set classes = [base, use_instagram_style ? base ~ '--styled' : base ~ '--custom'] %}

{% if post.media_url %}
  {% set alt = post.raw.caption ? post.raw.caption[:50] ~ (post.raw.caption|length > 50 ? '...' ) : '' %}
  <article class="{{ classes|join(' ') }}">
    {% if post.children %}
      <div class="{{ base }}__carousel">
        {% for children in post.children.data %}
          {% if post.post_url %}
            <a class="{{ base }}__link" href="{{ children.permalink }}" target="_blank">
              <img class="{{ base }}__image" src="{{ children.media_url }}" alt="{{ children.caption }}" loading="lazy"/>
            </a>
          {% else %}
            <img class="{{ base }}__image" src="{{ children.media_url }}" alt="{{ children.caption }}" loading="lazy"/>
          {% endif %}
        {% endfor %}
      </div>
    {% elseif post.post_url %}
      <a class="{{ base }}__link" href="{{ post.post_url }}" target="_blank">
        <img class="{{ base }}__image" src="{{ post.media_url }}" alt="{{ alt }}" loading="lazy"/>
      </a>
    {% else %}
      <img class="{{ base }}__image" src="{{ post.media_url }}" alt="{{ alt }}" loading="lazy"/>
    {% endif %}
  </article>
{% endif %}
